<html>
  <head>
    <title>Recognizer</title>
    <style type="text/css">
   TABLE {
    width: 300px;
    border: 2px solid black;
    background: #778899;
    color: white;
   }
   TD, TH {
    text-align: center; 
    padding: 3px; 
   }
   TH {
    color: white;
    border-bottom: 4px double black; 
   }
   .even { 
    background: #ffe4b5; 
    color: black; 
   }
   .lc { 
    text-align: left;
    color: #fffacd; 
   }
  </style>
  </head>
  <body>
      <h1 style="text-align: center;">Detection page</h1>
<table style="height: 18px;" width="586">
<tbody>
<tr>
<td>
<h2>Input document</h2>
<p><img src={{im_big}} alt="" width="350" height="520" /></p>
</td>
<td>
<h2>Detection results</h2>
<table>
<tbody>
<tr>
<td>aftertax</td>
{{im1}}
<td><img src={{ims[0]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>comission</td>
<td><img src={{ims[1]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>tripdate</td>
<td><img src={{ims[2]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>traveller</td>
<td><img src={{ims[3]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>voucherdate</td>
<td><img src={{ims[4]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>office street</td>
<td><img src={{ims[7]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>office zip</td>
<td><img src={{ims[8]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>office city</td>
<td><img src={{ims[9]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>company name</td>
<td><img src={{ims[10]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>headquart. address</td>
<td><img src={{ims[11]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>headquart. zip</td>
<td><img src={{ims[12]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>currency</td>
<td><img src={{ims[13]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>vatpercent</td>
<td><img src={{ims[14]}} alt="" width="172" height="20" /></td>
</tr>
<tr>
<td>headquart. city</td>
<td><img src={{ims[15]}} alt="" width="172" height="20" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
  </body>
</html>

