<html>
  <head>
    <title>Recognizer</title>
    <style type="text/css">
   TABLE {
    width: 300px;
    border: 2px solid black;
    background: #778899;
    color: white;
   }
   TD, TH {
    text-align: center; 
    padding: 3px; 
   }
   TH {
    color: white;
    border-bottom: 4px double black; 
   }
   .even { 
    background: #ffe4b5; 
    color: black; 
   }
   .lc { 
    text-align: left;
    color: #fffacd; 
   }
  </style>
  </head>
  <body>
      <h1 style="text-align: center;">Detection page</h1>
<table>
<tbody>
<tr>
<td>id=</td>
<td>{{id_value}}</td>
</tr>
<tr>
<td>time=</td>
<td>0.2 seconds</td>
</tr>
</tbody>
</table>
  </body>
</html>

